.container {
    border: 2px solid white;
    background: #f5f5f5;
}

.navbar {
    background: #b5e0ff;
    border-radius: 0;
    border: 0px;
}

#navbar1 li > a {
    font-size: 13pt;
    color: #1f1f1f;
}

#navbar1 li > a:hover, #logo:hover {
    color: white;
}

#navbar1 li.active > a {
    background-color: #95c0df;
}

#logo {
    color:#0f0f0f;
    font-size: 22pt;
}

p {
    font-size: 14pt;
    text-indent: 20pt;
}

dl {
    font-size: 14pt;
}

dl dd{
    text-indent: 20pt;
}

dt {
    padding-top: 10pt;
}

equ {
    font-family: monospace;
}

center {
    font-size: 16pt
}

.col-md-6 {
    border: 3px solid #f5f5f5;
    border-radius: 1em;
    background: #e9e9e9;
    padding: 1em; 
}

ol {
    font-size: 14pt;
}

ol li {
    padding-top: 10pt;
}

h4 {
    font-weight: bold;
}