﻿@model hw6.Models.Product

@{
    ViewBag.Title = "Details";
}


<div id="details">
    <div class="row shadowbox">
        <div class="col-sm-4">
            <img src="@Url.Action("GetImage", "Details", new { productID = Model.ProductID })" alt="">
        </div>
        <div class="col-sm-8">
            <h3>@Model.Name  --  $@Model.ListPrice.ToString("0.00")</h3>
            <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.ProductNumber)</dt>
                    <dd>@Html.DisplayFor(model => model.ProductNumber)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Color)</dt>
                    <dd>@Html.DisplayFor(model => model.Color)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Size)</dt>
                    <dd>@Html.DisplayFor(model => model.Size)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Weight)</dt>
                    <dd>@Html.DisplayFor(model => model.Weight)</dd>
            </dl>
        </div>
    </div>
    <div class="row shadowbox">
        <div style="margin-left: 50pt; margin-right: 50pt;">
            <h3 style="float:left;">Reviews</h3>
            <h3 style="float:right;">@Html.ActionLink("Add Review", "AddReview", "Details", new { productID = Model.ProductID }, new { } )</h3>
            <div style="clear: both;"></div>
        </div>
        @foreach(var review in Model.ProductReviews)
        {
            <div style="margin: 20pt; border-top: 2pt solid lightgray;">
                <h4>@review.ReviewerName -- @review.Rating / 5</h4>
                <h5>@review.ReviewDate</h5>
                <p>@review.Comments</p>
            </div>
        }
        <div style="margin: 20pt; border-top: 2pt solid lightgray;"></div>
    </div>
</div>
