﻿@model hw5.Models.COA

@{
    ViewBag.Title = "Form";
}

<h2><strong>DMV</strong> Change of Address Notice</h2>

<div class="row">
    <div class="col-md-10">
        <center style="margin-bottom: 20px;"><strong>NOTE:</strong> All information is required</center>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
        
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row" style="padding: 0px; margin: 0px;">

                    <!-- PermitID form group -->
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.PermitID, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.PermitID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PermitID, "", new { @class = "text-danger" })
                        </div>
                    </div>
        
                    <!-- Date of birth form group -->
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-4"})
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
        
                <!-- Name form group -->
                <div class="form-group">
                    @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 100%;"} })
                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </div>
                </div>
        
                <!--New Address header/speration-->
                <hr />
                <h3><strong>New Address</strong></h3> 
                <div style="font-size:12px;margin-bottom: 20px;">(No Post Office Number or mail forwarding address)</div>

                <div class="row" style="padding: 0px; margin: 0px;">

                    <!-- City form group -->
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!-- State form group -->
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row" style="padding: 0px; margin: 0px;">

                    <!-- County form group -->
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.County, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.County, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.County, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!-- Zipcode form group -->
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <!-- New Address form group -->
                <div class="form-group">
                    @Html.LabelFor(model => model.NewAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NewAddress, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 100%;" } })
                        @Html.ValidationMessageFor(model => model.NewAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-5 col-md-2">
                        <input type="submit" value="Create" class="btn btn-default" style="width:100%;"/>
                    </div>
                </div>
            </div>
        }
    </div>

    <!-- Side warning message about the law -->
    <div class="col-md-2">
        <div style="border: 1px solid #ffd800; border-radius: 1em; padding: 10px;">Oregon Law requires you to notify DMV of any change of address within 30 days.</div>
    </div>
</div>