﻿@model IEnumerable<hw5.Models.COA>

@{
    ViewBag.Title = "List";
}

<h2>Change of Address Forms</h2>

<table class="table" style="border: 3px solid black;">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PermitID)</th>
            <th>@Html.DisplayNameFor(model => model.FullName)</th>
            <th>@Html.DisplayNameFor(model => model.DOB)</th>
            <th>@Html.DisplayNameFor(model => model.NewAddress)</th>
            <th>@Html.DisplayNameFor(model => model.City)</th>
            <th>@Html.DisplayNameFor(model => model.State)</th>
            <th>@Html.DisplayNameFor(model => model.ZipCode)</th>
            <th>@Html.DisplayNameFor(model => model.County)</th>
            <th>@Html.DisplayNameFor(model => model.IssueDate)</th>
        </tr>
    </thead>
    <tbody>
        <!--Lists all the item in the database-->
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.PermitID)</td>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.DOB)</td>
                <td>@Html.DisplayFor(modelItem => item.NewAddress)</td>
                <td>@Html.DisplayFor(modelItem => item.City)</td>
                <td>@Html.DisplayFor(modelItem => item.State)</td>
                <td>@Html.DisplayFor(modelItem => item.ZipCode)</td>
                <td>@Html.DisplayFor(modelItem => item.County)</td>
                <td>@Html.DisplayFor(modelItem => item.IssueDate)</td>
            </tr>
        }
    </tbody>
</table>

<!--Link to the form-->
<div style="text-align: right;">@Html.ActionLink("Fill out new form", "Form", "COAs")</div>