div.col-xs-12 > div.row {
	padding: 5px;
}

div.container.form-group {
	margin: auto;
	margin-bottom: 2em;
}

.col-xs-12 {
	background-color: #b6e8ff;
	border: 2px solid #90c0ff;
	border-radius: 1em;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
}

.btn_ev_delete {
	background-color: indianred;
	border: 0.125em solid darkslategrey;
	padding: 0px;
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	width: 1.6em;
	height: 1.6em;
}

/* Add new event button */

#add {
	background: none;
	border: none;
}

#addBtn {
	background-color: #b6e8ff;
	border: 2px solid #90c0ff;
	border-radius: 1em;
}

#addBtn:active {
	background-color: #afdff5;
}

#addBtn:hover {
	border: 2px solid #79a9e9;
}

/* Generate Schedule Button */

#genBtn {
	background-color: #b6e8ff;
	border: 2px solid #90c0ff;
	border-radius: 5px;
}

#genBtn:active {
	background-color: #afdff5;
}

#genBtn:hover {
	border: 2px solid #79a9e9;
}

/* Table */

table {
	width: 100%;
	border: solid 3px;
}

th {
	width: 12.5%;
	border: solid 2px;
	text-align: center;
}

td {
	text-align: center;
	word-wrap: break-word;
	white-space: pre-wrap;
}

@media print {
	.noprint {
		display: none;
	}
}
