﻿@model IEnumerable<hw6.Models.Product>

@{
    ViewBag.Title = "Browse";
}

<h3>@ViewBag.Category > @ViewBag.Subcategory</h3>

<div class="container row">
    @foreach (var p in Model)
    {
        <div class="col-xs-6 col-sm-4">
            <div class="tile shadowbox">
                <a href="@Url.Action("Details", "Details", new { productID = p.ProductID })" class="tile-link">
                    <div class="product-name">@p.Name</div>
                    <div class="img-box"><img src="@Url.Action("GetImage", "Details", new { productID = p.ProductID })" alt=""></div>
                    <div class="product-price">$@p.ListPrice.ToString("0.00")</div>
                </a>
            </div>
        </div>
    }
</div>