﻿@model IEnumerable<hw6.Models.CategoryVM>

@{
    ViewBag.Title = "CategorySelect";
}

<h3>Choose a category to browse</h3>

<div class="row">
    @foreach (var c in Model)
    {
        <div class="col-sm-3" >
            <div class="shadowbox" style="padding-left: 20pt;">
                <h4>@c.Category.Name</h4>
                <ul>
                    @foreach (var sc in c.Subcategories)
                    {
                        <li>@Html.ActionLink(sc.Name, "Browse", "Browse", new { subCategoryID = sc.ProductSubcategoryID }, null)</li>
                    }
                </ul>
            </div>
        </div>
    }
</div>

