﻿
@{
    ViewBag.Title = "Index";
}

@section Scripts {
    <script src="~/Scripts/search.js"></script>
}

<h2 style="text-align: center">Search Gifs</h2>

<div class="input-group">
    <input class="form-control" type="text" placeholder="Search for gifs" id="searchtext" />
    <div class="input-group-btn">
        <button class="btn btn-default" type="submit" id="searchbutton" onclick="search()">
            Search
        </button>
    </div>
</div>

<form class="form-horizontal row">
    <div class="form-group col-sm-6">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label><input type="checkbox" id="still"> Still Images</label>
            </div>
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label class="control-label col-sm-6" for="rating">Rating</label>
        <div class="col-sm-6">
            <select class="form-control" id="rating">
                <option>Y</option>
                <option>G</option>
                <option>PG</option>
                <option>PG-13</option>
                <option>R</option>
            </select>
        </div>
    </div>
    <div class="form-group col-sm-6">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label><input type="checkbox" onclick="ranCheck(this);" id="random"> Random</label>
            </div>
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label class="control-label col-sm-6" for="offset">Offset</label>
        <div class="col-sm-6">
            <input class="form-control" type="number" min="0" id="offset" value="0"/>
        </div>
    </div>
</form>

<div id="images" class="container">

</div>
