﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
textarea {
    max-width: 280px;
}

#searchtext {
    max-width: none;
}

#searchbutton {
}

img.gifimg {
    width: 250px;
    height: 250px;
    border: 4px #444 solid;
    border-radius: 1em;
    box-shadow: 5px 5px 2px #BBB;
    position: absolute;
    left: 50%;
    margin-left: -125px;
}

#images div {
    text-align: center;
    height: 280px;
}

#images {
    margin-top: 20px;
    padding-top: 60px;
}

div.input-group {
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 2px 2px 2px #AAA;
    border-radius: 5px;
}

    div.input-group input {
        height: 44px;
        font-size: 14pt;
    }

    div.input-group button {
        height: 44px;
        font-size: 14pt;
    }

#rating, #offset {
    width: 100px;
}

div.checkbox label {
    font-weight: 600;
}

form.row {
    padding-top: 10px;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    border: 4px #444 solid;
    border-radius: 1em;
    box-shadow: 5px 5px 2px #BBB;
}
