﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul style="font-size: 22pt;">
    <li>@Html.ActionLink("Change of Address Form", "Form", "COAs")</li>
    <li>@Html.ActionLink("View all forms", "Index", "COAs")</li>
</ul>