﻿html body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #E4E6C3;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar.navbar-inverse {
    border-bottom: 2px solid #BBB;
    background-color: #2F4B26;
}

.navbar a.navbar-brand {
    color: white;
    font-size: 20pt;
}

.navbar a.navbar-brand:hover {
    color: #899878;
}

div.tile {
    margin-bottom: 25px;
    height: 350px;
}

    .tile * {
        text-align: center;
        font-size: 18pt;
    }

.tile-link {
    display: block;
    height: 100%;
    color: black;
}

    .tile-link:hover {
        color: #80AA94;
    }

.img-box {
    padding: 15px;
    height: 175px;
    width: 100%;
}

    .img-box img {
        max-width: 100%;
        max-height: 100%;
    }

.product-name {
    margin: 10px;
    height: 75px;
}

.product-price {
    margin: 10px;
}

#details div.row {
    margin-top: 2em;
}

.shadowbox {
    background-color: white;
    border-radius: 0.75em;
    border: 5pt solid white;
    box-shadow: 4px 4px 2px #BBB;
    margin-bottom: 10px;
}

.homepagebox {
    position: absolute;
    top: 5%;
    background-color: white;
    border-radius: 0.75em;
    border: 5pt solid white;
    box-shadow: 4px 4px 2px #BBB;
    margin-bottom: 10px;
    z-index: 5;
    width: 230px;
    text-align: center;
    font-size: 18pt;
}
    .homepagebox a {
        color: #2F4B26;
    }

    .homepagebox a:hover {
        color: #899878;
        text-decoration: none;
    }