﻿
@{
    ViewBag.Title = "BaseConvert";
}

<h2>Page 1: Base Conversion</h2>

<p>Base inputs cannot be below 2 or above 62. Digits character values are 0-9 = 0-9, A-Z = 10-35, and a-z = 36-61</p>

<form action="/Home/BaseConvert" method="get">
    <div class="form-horizontal">
        <!--Input Number-->
        <div class="form-group">
            <label class="control-label col-md-2" for="input">Number</label>
            <input class="form-control col-md-10" type="text" name="input" value="" required />
        </div>
        <!--Input Base-->
        <div class="form-group">
            <label class="control-label col-md-2" for="inBase">Input Base</label>
            <input class="form-control col-md-10" type="number" name="inBase" value="" max="62" min="2" required />
        </div>
        <!--Output Base-->
        <div class="form-group">
            <label class="control-label col-md-2" for="outBase">Output Base</label>
            <input class="form-control col-md-10" type="number" name="outBase" value="" max="62" min="2" required />
        </div>
        <!--Submit button-->
        <div class="form-group">
            <input type="submit" value="Convert" class="btn col-md-offset-4" />
        </div>
    </div>
</form>

<!--Display output if they exist-->
@if (ViewBag.output != null)
{
    <p style="font-size: 24px;">(@ViewBag.input)<sub>@ViewBag.inBase</sub> = (@ViewBag.output)<sub>@ViewBag.outBase</sub></p>
}

<!--If errors exist display them-->
@if (ViewBag.error != null)
{
    @ViewBag.error
}