﻿
@{
    ViewBag.Title = "BulletDrop";
}

<h2>Page 2: Bullet Drop</h2>

<form class="form-horizontal" action="/home/BulletDrop" method="post">
    <!--Zero Distance-->
    <div class="form-group">
        <label class="control-label col-md-2" for="sight">Zero Distance (yards)</label>
        <input class="form-control col-md-10" type="number" name="sight" value="" min="0" required />
    </div>
    <!--Muzzle Velocity-->
    <div class="form-group">
        <label class="control-label col-md-2" for="velocity">Muzzle Velocity (ft/s)</label>
        <input class="form-control col-md-10" type="number" name="velocity" value="" min="1" required />
    </div>
    <!--Distance-->
    <div class="form-group">
        <label class="control-label col-md-2" for="distance">Distance (yards)</label>
        <input class="form-control col-md-10" type="number" name="distance" value="" min="1" required />
    </div>
    <!--Submit Button-->
    <div class="form-group">
        <input type="submit" value="Calculate" class="btn col-md-offset-4" />
    </div>
</form>

<!--Display output if drop exists in ViewBag-->
@if (ViewBag.drop != null)
{
    <p style="font-size: 24px;">Time to target: @ViewBag.time seconds, Estimated Drop: @ViewBag.drop inches.</p>
}

<!--Display errors if they exist-->
@if (ViewBag.error != null)
{
    <p>@ViewBag.error</p>
}