﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul style="font-size: 18pt;">
    <li>@Html.ActionLink("Page 1: Base Conversion", "BaseConvert", "Home")</li>
    <li>@Html.ActionLink("Page 2: Bullet Drop", "BulletDrop", "Home")</li>
    <li>@Html.ActionLink("Page 3: Loan Calculator", "Page3", "Home")</li>
</ul>