﻿
@{
    ViewBag.Title = "Loan Calculator";
}

<h2>Page 3: Loan Calculator</h2>

<form action="/home/page3" method="post" class="form-horizontal">
    <!--Loan Amount-->
    <div class="form-group">
        <label class="control-label col-md-2" for="amount">Loan Amount</label>
        <input class="form-control col-md-10" type="number" name="amount" value="" min="0" required />
    </div>
    <!--Rate Per Period-->
    <div class="form-group">
        <label class="control-label col-md-2" for="rate">Rate per Period (%)</label>
        <input class="form-control col-md-10" type="number" name="rate" value="" step="0.01" required />
    </div>
    <!--Term Length-->
    <div class="form-group">
        <label class="control-label col-md-2" for="length">Term Length</label>
        <input class="form-control col-md-10" type="number" name="length" value="" min="1" required />
    </div>
    <!--Submit button-->
    <div class="form-group">
        <input type="submit" value="Calculate" class="btn col-md-offset-4" />
    </div>
</form>

<!--If monthly exists then this was from a post so display monthly and total payments-->
@if(ViewBag.monthly != null)
{
    <p style="font-size: 24px;">Payment per period is $@Math.Round(ViewBag.monthly, 2) and total payment will be $@Math.Round(ViewBag.total, 2) .</p>
}