﻿@model IEnumerable<hw8.Models.ClassificationVM>

@{
    ViewBag.Title = "Classifications";
}

<h2>Classifications</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArtWorkTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenreName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArtWorkTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenreName)
        </td>
    </tr>
}

</table>
