﻿@model IEnumerable<hw8.Models.Genre>

@{
    ViewBag.Title = "Art Works";
}

<h2>Art Works Database</h2>

@foreach(var m in Model)
{
    <button onclick="loadGenre(@m.GenreID)">@m.Name</button>
}

@section Scripts {
    <script src="~/Scripts/GenreViewer.js"></script>    
}