﻿
@{
    ViewBag.Title = "Index";
    Layout = "";
}




<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    
            

    <img src="~/Images/mount.png" alt="Big Lake & Mountain" style="
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    " />

    <div style="
    position: absolute;
    top: 3%;
    height: calc(4% + 50px);
    width: 100%;
    background-color: #2F4B26;
    border-bottom: 2px solid #BBB;
    border-top: 2px solid #BBB;
    z-index: 4;
    "> </div>

    <div class="homepagebox" style="left: 10%;">
        @Html.ActionLink("AdventureWorks", "Index", "Home")
    </div>
    <div class="homepagebox" style="right: 10%;">
        @Html.ActionLink("Browse", "CategorySelect", "Browse")
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>